* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.background {
  background-color: #181818;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.container-top {
  width: 100vw;
  height: 80%;
  background-size: cover;
}
